.intro-container{
    background-color: #242424;

    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .intro-content{
        color: rgb(238, 238, 238);

        font-family: "Arial";
        font-size: 1rem;
        line-height: 1.5;
        max-width: 70ch;
        margin-bottom: 1rem;
        text-decoration: none;
        text-align: center;
    }
    .btm-paragraph{
        margin-bottom: 0;
    }
}